/*
* Defines Text Color based on the background color.
* Function either returns black or white;
*/
.btn {
  padding: 0.3rem 0.5rem;
  font-family: "Lato";
  font-weight: 400;
  font-size: 0.7rem;
  transition: box-shadow 0.2s;
  background-color: #e6e6e6;
  color: #fff;
  cursor: pointer;
  /*
  * Generate color modifiers
  */
  /*
  * Rounded on the edge of the button
  */ }
  .btn:link, .btn:visited {
    text-decoration: none;
    color: inherit; }
  .btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3); }
  .btn:focus, .btn:active {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1); }
  .btn--primary {
    color: inherit;
    background-color: #4caf50; }
  .btn--secondary {
    color: inherit;
    background-color: #2196f3; }
  .btn--tertiary {
    color: inherit;
    background-color: #c45cd6; }
  .btn--error {
    color: inherit;
    background-color: #f44336; }
  .btn--warning {
    color: inherit;
    background-color: #ff9800; }
  .btn--info {
    color: inherit;
    background-color: cyan; }
  .btn--round {
    border-radius: 10rem; }
    .btn--round-light {
      border-radius: 2px; }
    .btn--round-light-1 {
      border-radius: 4px; }
    .btn--round-light-2 {
      border-radius: 7px; }

/*
* Remove styling for input & button
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: none;
  outline: none; }
