/*
* Defines Text Color based on the background color.
* Function either returns black or white;
*/
/*
* Button Component
*/
.btn,
button {
  padding: 0.4rem 0.7rem;
  font-family: "Lato";
  font-weight: 400;
  font-size: 1rem;
  color: #1f1d1d;
  background-color: #fff;
  cursor: pointer;
  border-radius: 0.2rem;
  user-select: none;
  transition: border-color 0.3s;
  justify-content: center;
  display: inline-block; }
  .btn:not([class*="btn-"]),
  button:not([class*="btn-"]) {
    border: 0.08rem solid #e6e6e6; }

.btn {
  /*
  * Generate color modifiers
  */
  /*
  * Rounded on the edge of the button
  */ }
  .btn:link:not(.btn-link), .btn:visited:not(.btn-link) {
    text-decoration: none; }
  .btn:hover:not([class*="btn-"]):not(.disabled) {
    border-color: #b3b3b3; }
  .btn:focus:not([class*="btn-"]):not(.disabled), .btn:active:not([class*="btn-"]):not(.disabled) {
    border-color: #1f1d1d; }
  .btn-primary {
    color: #fff;
    background-color: #4caf50; }
    .btn-primary {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-primary:hover:not(.disabled) {
      background-color: #6ec071; }
    .btn-primary:focus:not(.disabled), .btn-primary:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(76, 175, 80, 0.3); }
  .btn-outline-primary {
    background-color: #fff;
    color: #4caf50;
    border: 0.08rem solid #4caf50; }
    .btn-outline-primary {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline-primary:hover:not(.disabled) {
      background-color: #6ec071; }
    .btn-outline-primary:focus:not(.disabled), .btn-outline-primary:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(76, 175, 80, 0.3); }
    .btn-outline-primary:hover:not(.disabled) {
      background-color: #4caf50;
      color: #fff; }
  .btn-secondary {
    color: #fff;
    background-color: #2196f3; }
    .btn-secondary {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-secondary:hover:not(.disabled) {
      background-color: #51adf6; }
    .btn-secondary:focus:not(.disabled), .btn-secondary:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(33, 150, 243, 0.3); }
  .btn-outline-secondary {
    background-color: #fff;
    color: #2196f3;
    border: 0.08rem solid #2196f3; }
    .btn-outline-secondary {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline-secondary:hover:not(.disabled) {
      background-color: #51adf6; }
    .btn-outline-secondary:focus:not(.disabled), .btn-outline-secondary:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(33, 150, 243, 0.3); }
    .btn-outline-secondary:hover:not(.disabled) {
      background-color: #2196f3;
      color: #fff; }
  .btn-tertiary {
    color: #fff;
    background-color: #c45cd6; }
    .btn-tertiary {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-tertiary:hover:not(.disabled) {
      background-color: #d385e0; }
    .btn-tertiary:focus:not(.disabled), .btn-tertiary:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(196, 92, 214, 0.3); }
  .btn-outline-tertiary {
    background-color: #fff;
    color: #c45cd6;
    border: 0.08rem solid #c45cd6; }
    .btn-outline-tertiary {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline-tertiary:hover:not(.disabled) {
      background-color: #d385e0; }
    .btn-outline-tertiary:focus:not(.disabled), .btn-outline-tertiary:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(196, 92, 214, 0.3); }
    .btn-outline-tertiary:hover:not(.disabled) {
      background-color: #c45cd6;
      color: #fff; }
  .btn-error {
    color: #fff;
    background-color: #f44336; }
    .btn-error {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-error:hover:not(.disabled) {
      background-color: #f77066; }
    .btn-error:focus:not(.disabled), .btn-error:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(244, 67, 54, 0.3); }
  .btn-outline-error {
    background-color: #fff;
    color: #f44336;
    border: 0.08rem solid #f44336; }
    .btn-outline-error {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline-error:hover:not(.disabled) {
      background-color: #f77066; }
    .btn-outline-error:focus:not(.disabled), .btn-outline-error:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(244, 67, 54, 0.3); }
    .btn-outline-error:hover:not(.disabled) {
      background-color: #f44336;
      color: #fff; }
  .btn-warning {
    color: #fff;
    background-color: #ff9800; }
    .btn-warning {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-warning:hover:not(.disabled) {
      background-color: #ffad33; }
    .btn-warning:focus:not(.disabled), .btn-warning:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(255, 152, 0, 0.3); }
  .btn-outline-warning {
    background-color: #fff;
    color: #ff9800;
    border: 0.08rem solid #ff9800; }
    .btn-outline-warning {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline-warning:hover:not(.disabled) {
      background-color: #ffad33; }
    .btn-outline-warning:focus:not(.disabled), .btn-outline-warning:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(255, 152, 0, 0.3); }
    .btn-outline-warning:hover:not(.disabled) {
      background-color: #ff9800;
      color: #fff; }
  .btn-info {
    color: #fff;
    background-color: #49b9b9; }
    .btn-info {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-info:hover:not(.disabled) {
      background-color: #6ec7c7; }
    .btn-info:focus:not(.disabled), .btn-info:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(73, 185, 185, 0.3); }
  .btn-outline-info {
    background-color: #fff;
    color: #49b9b9;
    border: 0.08rem solid #49b9b9; }
    .btn-outline-info {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline-info:hover:not(.disabled) {
      background-color: #6ec7c7; }
    .btn-outline-info:focus:not(.disabled), .btn-outline-info:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(73, 185, 185, 0.3); }
    .btn-outline-info:hover:not(.disabled) {
      background-color: #49b9b9;
      color: #fff; }
  .btn-outline {
    background-color: #fff;
    color: #e6e6e6;
    border: 0.08rem solid #e6e6e6; }
    .btn-outline {
      transition: background-color 0.3s, box-shadow 0.3s; }
    .btn-outline:hover:not(.disabled) {
      background-color: white; }
    .btn-outline:focus:not(.disabled), .btn-outline:active:not(.disabled) {
      box-shadow: 0 0 0 0.1rem rgba(230, 230, 230, 0.3); }
    .btn-outline:hover:not(.disabled) {
      background-color: #e6e6e6;
      color: #fff; }
  .btn-link, .btn-link:visited, .btn-link:link {
    color: #2196f3;
    font-family: "Lato";
    font-size: 1rem;
    transition: color 0.2s; }
    .btn-link:hover, .btn-link:visited:hover, .btn-link:link:hover {
      color: #82c4f8; }
    .btn-link:focus, .btn-link:visited:focus, .btn-link:link:focus {
      color: #0960a5; }
  .btn-round {
    border-radius: 10rem; }
    .btn-round-light {
      border-radius: 0.15rem; }
    .btn-round-light-1 {
      border-radius: 0.4rem; }
    .btn-round-light-2 {
      border-radius: 0.7rem; }

/*
* Remove styling for input & button
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: none;
  outline: none; }

.outline {
  color: red; }
  .outline-thin {
    border-width: 0.04rem; }
  .outline-small {
    border-width: 0.06rem; }
  .outline-regular {
    border-width: 0.08rem; }
  .outline-big {
    border-width: 0.12rem; }
  .outline-large {
    border-width: 0.2rem; }

/*
* Disable clicking on a element 
* Either use disabled class or the disabled attribute
*/
.disabled,
*[disabled] {
  opacity: 0.5;
  cursor: not-allowed; }

/*
* Loader
*/
[class*="loader"] {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none; }

.loader {
  border: 0.2rem solid currentcolor;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1s loader linear infinite;
  position: relative; }

.loader-axe {
  border: 0.2rem solid transparent;
  border-left-color: currentcolor;
  border-right-color: currentcolor;
  border-radius: 50%;
  animation: 1s loader-axe linear infinite; }

.loader-quarter {
  border: 0.2rem solid transparent;
  border-top-color: currentcolor;
  border-radius: 50%;
  animation: 1s loader-quarter linear infinite;
  position: relative; }
  .loader-quarter:before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    border: 0.2rem solid currentcolor;
    border-radius: 50%;
    opacity: 0.5; }

.loader-fade-in {
  border: 0.2rem solid currentcolor;
  border-radius: 50%;
  animation: loader-fade-in 1s ease-out infinite; }

.loader-increase {
  position: relative; }
  .loader-increase:before, .loader-increase:after {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: 50%;
    background-color: currentcolor;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader-increase 2s infinite ease-in-out; }
  .loader-increase:after {
    animation-delay: -1s; }

.loader-ninja {
  border-top: 0.2rem solid currentcolor;
  border-right: 0.2rem solid transparent;
  animation: loader-ninja 1s linear infinite;
  border-radius: 100%;
  position: relative; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-axe {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-quarter {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-fade-in {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }

@keyframes loader-increase {
  0%,
  100% {
    transform: scale(0); }
  50% {
    transform: scale(1); } }

@keyframes loader-box {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes loader-ninja {
  to {
    transform: rotate(360deg); } }

.fullwidth {
  display: block;
  width: 100%; }
