// COLORS
$color-primary: #4caf50;
$color-secondary: #2196f3;
$color-tertiary: #c45cd6;
$color-error: #f44336;
$color-warning: #ff9800;
$color-info: #49b9b9;

$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "error": $color-error,
  "warning": $color-warning,
  "info": $color-info
);

$color-grey: #dbdbdb;
$color-white: #fff;
$color-black: #1f1d1d;

// TYPOGRAPHY
$font-familiy: "Lato";

// Font Weight
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Font size
$font-tiny: 0.7rem;
$font-small: 1rem;
$font-medium: 1.4rem;
$font-big: 2rem;
$font-large: 2.5rem;

// OUTLINE
$outline-thin: 0.04rem;
$outline-small: 0.06rem;
$outline-regular: 0.08rem;
$outline-big: 0.12rem;
$outline-large: 0.2rem;

// link
$color-link: $color-secondary;

$outlines: (
  "thin": $outline-thin,
  "small": $outline-small,
  "regular": $outline-regular,
  "big": $outline-big,
  "large": $outline-large
);

// Border
$border-round: 10rem;
$border-round-light: 0.15rem;
$border-round-regular: 0.2rem;
$border-round-light-1: 0.4rem;
$border-round-light-2: 0.7rem;
$default-border: $outline-regular solid;

// Prefixes
$prefix-animation: ".a-";
