// COLORS
$color-primary: #4caf50;
$color-secondary: #2196f3;
$color-tertiary: #c45cd6;
$color-error: #f44336;
$color-warning: #ff9800;
$color-info: #49b9b9;
$color-link: $color-secondary;

$color-black: #1f1d1d;
$color-grey-darkest: #242424;
$color-grey-darker: #363636;
$color-grey-dark: #4a4a4a;
$color-grey: #7a7a7a;
$color-grey-light: #b5b5b5;
$color-grey-lighter: #dbdbdb;
$color-grey-lightest: #f5f5f5;
$color-white: #fff;

$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "error": $color-error,
  "warning": $color-warning,
  "info": $color-info,
  "black": $color-black,
  "grey-darkest": $color-grey-darkest,
  "grey-darker": $color-grey-darker,
  "grey-dark": $color-grey-dark,
  "grey": $color-grey,
  "grey-light": $color-grey-light,
  "grey-lighter": $color-grey-lighter,
  "grey-lightest": $color-grey-lightest,
  "white": $color-white
);
// TYPOGRAPHY
$font-family: "Lato";

// Font Weight
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

// Font size
$font-tiny: 1rem;
$font-small: 1.3rem;
$font-medium: 1.9rem;
$font-big: 2.3rem;
$font-large: 2.8rem;

// OUTLINE
$outline-thin: 0.06rem;
$outline-small: 0.08rem;
$outline-regular: 0.1rem;
$outline-big: 0.14rem;
$outline-large: 0.22rem;

$outlines: (
  "thin": $outline-thin,
  "small": $outline-small,
  "regular": $outline-regular,
  "big": $outline-big,
  "large": $outline-large
);

// Border
$border-round: 10rem;
$border-round-light: 0.15rem;
$border-round-regular: 0.2rem;
$border-round-light-1: 0.4rem;
$border-round-light-2: 0.7rem;
$default-border: $outline-regular solid;

// Prefixes
$prefix-animation: ".a";
$prefix-margin: ".m";
$prefix-padding: ".p";
$prefix-loader: ".loader";
$prefix-display: ".d";
$prefix-overflow: ".overflow";
