@mixin swipeLeftToRightAnim($slidecolor, $textColor) {
  $parent: &;

  &#{$prefix-animation}-btn-left-to-right {
    background-color: transparent;

    #{$parent} {
      transition: color 0.4s;
      #{$parent}:hover {
        color: $textColor;
      }
    }

    &,
    &:before,
    &:hover:before {
      transition: 0.5s ease-in-out;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $slidecolor;
      transform: translateX(-100%);
    }
    &:hover:before {
      transition: inherit;
      transform: translateX(0);
      z-index: -1;
    }
  }
}
