@mixin swipeLeftToRightAnim($slidecolor, $textColor) {
  $parent: &;
  $swipeTransition: all 0.5s ease-in-out;

  &#{$prefix-animation}-btn-left-right {
    background-color: transparent;

    &#{$parent}:hover {
      color: $textColor;
    }

    &,
    &:before,
    &:hover:before {
      transition: $swipeTransition;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $slidecolor;
      transform: translateX(-100%);
    }
    &:hover:before {
      transition: $swipeTransition;
      transform: translateX(0);
      z-index: -1;
    }
  }
}
