$default-btn-color: darken($color-white, 10%);
$default-btn-size: $font-medium;

/*
* Button Component
*/
.btn,
button {
  padding: 0.4rem 0.7rem;
  margin: 0.1rem 0;
  font-family: $font-family;
  font-weight: $font-regular;
  font-size: $default-btn-size;
  color: $color-black;
  background-color: $color-white;
  cursor: pointer;
  overflow: hidden;
  border-radius: $border-round-regular;
  user-select: none;
  transition: border-color 0.3s;
  justify-content: center;
  display: inline-block;
  position: relative;

  &:not([class*="btn-"]) {
    @include createDefaultBorder($default-btn-color);
  }

  & > * {
    display: inline-block;
  }

  // add margin for loaders inside of buttons
  & > [class*="#{str-slice($prefix-loader, 2)}"] {
    margin-right: 0.5rem;
  }
}

.btn {
  //Remove default styling
  &:link:not(&-link),
  &:visited:not(&-link) {
    text-decoration: none;
  }

  &:hover:not([class*="btn-"]) {
    border-color: darken($default-btn-color, 20%);
  }

  &:focus:not([class*="btn-"]),
  &:active:not([class*="btn-"]) {
    border-color: $color-black;
  }

  /*
  * Generate color modifiers
  */
  @each $key, $color in $colors {
    $inverted-color: setTextColorOnBackground($color);

    &-#{$key} {
      color: $inverted-color;
      background-color: $color;

      @include createDefaultBorder($inverted-color);
      @include buttonActions($color, $inverted-color);
    }

    &-outline-#{$key} {
      @include buttonOutline($color, $inverted-color);
    }
  }

  &-outline {
    @include buttonOutline($default-btn-color, $color-black);
  }

  &-link {
    &,
    &:visited,
    &:link {
      color: $color-link;
      font-family: $font-family;
      font-size: $default-btn-size;
      transition: color 0.2s;
      background-color: transparent;
      text-decoration: underline;
      display: inline-block;

      &:hover {
        color: lighten($color-link, 20%);
      }

      &:focus {
        color: darken($color-link, 20%);
      }
    }
  }

  /*
  * Rounded on the edge of the button
  */
  &-round {
    border-radius: $border-round;

    &-light {
      border-radius: $border-round-light;
    }

    &-light-1 {
      border-radius: $border-round-light-1;
    }

    &-light-2 {
      border-radius: $border-round-light-2;
    }
  }
}

/*
* Remove styling for input & button
*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border: none;
  outline: none;
}
