$border-tick-size: 0.3rem;

.checkbox {
  // hide it
  @include absolute();

  // prevent override of disable
  opacity: 0 !important;

  cursor: none;
  pointer-events: none;
  transition: background-color 0.2s;

  & + label {
    position: relative;
    font-size: $font-small;
    display: inline-block;
    margin-top: 0.3rem;
    padding-left: $font-small + 0.2rem;
    cursor: pointer;
  }

  // new box
  & + label:before {
    content: "";
    @include absolute($top: 0, $left: 0);
    transform: translateY(30%);
    margin-right: 0.4rem;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -0.2rem;
    width: $font-small;
    height: $font-small;
    background: $color-grey;
  }

  // Box transition
  & + label:before {
    transition: background 0.2s, box-shadow 0.2s;
  }

  // Box hover
  &:hover + label:before {
    background: $color-primary;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $color-primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: $color-grey-dark;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: $color-grey-dark;
  }

  // add transition
  & + label:after {
    transition: all 0.2s;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    @include absolute($top: 0.8rem, $left: 0.15rem);
    background: $color-white;
    width: 0.2rem;
    height: 0.2rem;
    box-shadow: 2px 0 0 $color-white, $border-tick-size 0 0 $color-white,
      $border-tick-size -2px 0 $color-white,
      $border-tick-size ($border-tick-size * (-1) * (4/3)) 0 $color-white,
      $border-tick-size -6px 0 $color-white,
      $border-tick-size -8px 0 $color-white;
    transform: rotate(45deg);
  }
}
