.checkbox {
  // hide it
  @include absolute();
  opacity: 0;
  cursor: pointer;
  transition: background-color 0.2s;

  & + label {
    position: relative;
    font-size: $font-small;
    display: inline-block;
    margin-top: 0.3rem;
  }

  // new box
  & + label:before {
    content: "";
    margin-right: 0.4rem;
    display: inline-block;
    vertical-align: text-top;
    margin-top: -0.2rem;
    width: 2rem;
    height: 2rem;
    background: $color-grey;
  }

  // Box transition
  & + label:before {
    transition: background 0.2s;
  }

  // Box hover
  &:hover + label:before {
    background: $color-primary;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $color-primary;
  }

  // Disabled state label.
  &:disabled + label {
    color: $color-grey-dark;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: $color-grey-dark;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: "";
    @include absolute($top: 1rem, $left: 0.5rem);
    background: $color-white;
    width: 0.2rem;
    height: 0.2rem;
    box-shadow: 2px 0 0 $color-white, 4px 0 0 $color-white,
      4px -2px 0 $color-white, 4px -4px 0 $color-white, 4px -6px 0 $color-white,
      4px -8px 0 $color-white;
    transform: rotate(45deg);
  }
}
