// Set base settings for all browsers
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
/*
* defining 1rem as 10px 
* default browser settings 1rem = 16px
*/
font-size: 62.5%;
}
